black
certifi
cffi
charset-normalizer
click
exceptiongroup
greenlet
hpy
idna
iniconfig
lxml
mypy-extensions
packaging
pathspec
platformdirs
pluggy
progress
pytest
python-dotenv
PyYAML
readline
requests>=2.30.0, <3.0.0
tomli
typing_extensions
urllib3 >=2.20.0, <3.0.0
